 

.container-fluid{
    height: 100%;
    width: 100%;
  }
.input[type=file]::file-selector-button{
    
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  .sidebar {
      margin: 0;
      padding: 0;
      width: 100%;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      position: initial;
      height: 100%;
      overflow: auto;
    }
    
    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
    }
     
    .sidebar a.active {
      background-color: #aa0404;
      color: white;
    }
    
    .sidebar a:hover:not(.active) {
      background: #FFF3F4 0% 0% no-repeat padding-box;
      color: rgb(194, 18, 18);
    }
    
    div.content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 100%;
    }
    
    @media screen and (max-width: 850px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }
    
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }
/* -----INNER PAGE-------*/
  