/* Dashbaord Page CSS */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.dashboard-main{
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 2000px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}

.dashboard-header{
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;    
}

#menu-bar{
    position: absolute;
    top: 34px;
    left: 29px;
    width: 28px;
    height: 16px;
    opacity: 1;
}

#dashboard-logo{
    position: absolute;
    top: 25px;
    left: 72px;
    width: 142px;
    height: 30px;
    opacity: 1;
}

#search-icon{
    position: absolute;
    top: 32px;
    left: 291px;
    width: 16px;
    height: 16px;
    opacity: 1;
}

#search{
    position: absolute;
    top: 28px;
    left: 321px;
    width: 49px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    
    opacity: 1;
}

#notification-icon{
    position: absolute;
    top: 28px;
    left: 1294px;
    width: 22px;
    height: 21px;
    opacity: 1;
}

#profile{
    position: absolute;
    top: 18px;
    left: 1368px;
    width: 44px;
    height: 44px;
    background: transparent url('img/Ellipse 19.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#profile-name{
    position: absolute;
    top: 28px;
    left: 1424px;
    width: 68px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;    
}

#down-arrow{
    position: absolute;
    top: 37px;
    left: 1507px;
    width: 10px;
    height: 6px;
    opacity: 1;
}
aside{
    float: left;
}

nav{
    width: 242px;
    height: 1279px;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}


/* NEW code */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: absolute;
    height: 2000px;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #aa0404;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background: #FFF3F4 0% 0% no-repeat padding-box;
    color: rgb(194, 18, 18);
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.dash{
    top: 121px;
   left: 290px;
   font-size: 30px;
   position: absolute;
}
.new-product{
    position: absolute;
    top: 182px;
    left: 292px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.added-product{
    position: absolute;
    top: 182px;
    left: 541px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.total-product{
    position: absolute;
    top: 182px;
    left: 791px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.todays-sale{
    position: absolute;
    top: 182px;
    left: 1040px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.total-sale{
    position: absolute;
    top: 182px;
    left: 1290px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.insights{
    float: left;
}

.left img{
    float: left;
    margin-top: 42px;
    margin-left: 39px;
    width: 33px;
    height: 33px;
}
.right{
    margin-top: 32px;
    margin-left: 90px;
}

#data{
    text-align: left;
    font: normal normal bold 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

#data-text{
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.sales{
    position: absolute;
    top: 328px;
    left: 292px;
    width: 802px;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.bottom
{
    margin-top: 82px;
    margin-left: 26px;
    width: 649px;
    height: 234px;
    opacity: 1;
}

.sales-title{
    margin-top: 21px;
    margin-left: 29px;
    position: absolute;
    text-align: left;
    font: normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.sales-time{
    float: left;
    margin-right: 20px;
    margin-left: 611px;
    margin-top: 24px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

.sales-year{
    margin-right: 30px;
    margin-top: 24px;
    float: right;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}

.sales-by-country{
    position: absolute;
    top: 330px;
    left: 1124px;
    width: 385px;
    height: 398px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.invoices{
    position: absolute;
    top: 758px;
    left: 292px;
    width: 1217px;
    height: 558px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.sales-bottom img{
    margin-left: 89px;
    margin-top: 78px;
    width: 200px;
    height: 208px;
}

.invoice-table{
    margin-top: 80px;
    margin-left: 40px;
    width:100%;
}
table tr{
    height:27px;
}

table th{
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 1.5px;
    color: #ADADAD;
    opacity: 1;
}

table td{

    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.status-sucess{
    text-align: left;
    color: #72b57f;
    background: #EBFFEF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    
}
.status-fail{
   
    text-align: left;
    color: #FF4545;
    background: #FFF5F5 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    opacity: 1;
}
.status-pending{
    text-align: left;
    color:#bababa;
    background: #F8F8F8  0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    opacity: 1;
}
.status-sucess span{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2.13px;
    margin-bottom: 3.87px;
     opacity: 1;
}
.status-fail span{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2.13px;
    margin-bottom: 3.87px;
     opacity: 1;
}
.status-pending span{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2.13px;
    margin-bottom: 3.87px;
     opacity: 1;
}


/*----------  analysis css ----------- */
.analysis{
    top: 121px;
left: 290px;
font-size: x-large;
text-align: left;
font: normal normal medium 40px/39px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
position: absolute;
}
.onecolumn{
   
width: 121px;
height: 29px;
text-align: left;
font-weight: bold;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
position: absolute;
}
#in1{
    top: 249px;
left: 323px;
width: 1157px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
position: absolute;
padding-left: 10px;
}
#in2{
    top: 319px;
left: 323px;
width: 1157px;
height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
position: absolute;
padding-left: 10px;
}
#in3{
    top: 388px;
left: 323px;
width: 1157px;
height: 130px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
position: absolute;
padding-left: 10px;
padding-top: 10px;
}

#in4{
    top: 607px;
left: 323px;
width: 563px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
position: absolute;
padding-left: 10px;
}
#in5{
    top: 598px;
left: 916px;
width: 564px;
height: 59px;
border: 1px solid #ADADAD;
background-color: white;
border-radius: 5px;
opacity: 1;
position: absolute;
/* padding-top:0 ; */
padding-left: 10px;
margin-bottom: 10px;
}
#in6{
    top: 676px;
left: 323px;
width: 563px;
height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    padding-left: 10px;
    }
 #in7{
    top: 675px;
    left: 917px;
    width: 563px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    padding-left: 10px;
        }

#focus{
    top: 816px;
left: 323px;
width: 364px;
height: 47px;
border: 1px solid #C8242F;
border-radius: 5px;
opacity: 1;
position: absolute;

}
#password{
    top: 814px;
    left: 719px;
    width: 365px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    position: absolute;

}
#disabled{
    top: 815px;
left: 1115px;
width: 365px;
height: 47px;
border: 1px dashed #ADADAD;
border-radius: 5px;
opacity: 1;
position: absolute;
}
.fieldset5{
    top: 959px;
    left: 323px;
    width: 266px;
    height: 49px;
position: absolute;
border: 1px solid #FF3C3C;
border-radius: 5px;
opacity: 1;
}

.name2{
    top: 957px;
    left: 620px;
    width: 266px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
}

.fieldset6{
    position: absolute;
    top: 957px;
    left: 917px;
    width: 266px;
    height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}
.dropdown3{
    position: absolute;
    top: 957px;
    left: 1214px;
    width: 266px;
    height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}
.valid{
    position: absolute;
    top: 1015px;
    left: 339px;
    width: 84px;
    height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #FF3B3B;
opacity: 1;
}
.fullname{
    position: absolute;
    top: 1014px;
    left: 634px;
    width: 158px;
    height: 16px;

text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.upload{
    top: 1125px;
left: 321px;
width: 90px;
height: 24px;
text-align: left;

font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
position: absolute;
}
.button{
    top: 1165px;
left: 322px;
width: 124px;
height: 36px;
border: 1px solid #C8242F;
border-radius: 18px;
opacity: 1;
position: absolute;
}
.buttontext{
    top: 1174px;
left: 465px;
width: 91px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
position: absolute;
}
.radioo{
    position: absolute;
    height: 50px;
    width: auto;
    top: 1270px;
    left: 322px;
    
}
.radio2{
    margin-left: 20px;
}

.checkbox{
    position: absolute;
    top: 1180px;
left: 32px;
width: 104px;
height: 24px;

text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.checkboxx{
    position: absolute;
    top: 1360px;
    left: 322px;
}
#option22{
    margin-left: 20px;
}

.snackbar{
    position: absolute;
    top: 1250px;
  left: 32px;
  width: 104px;
  height: 24px;
  text-align: left;
  font: normal normal medium 18px/24px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  }
  .snackbar1{
    position: absolute;
    top: 1450px;
  left: 320px;
  width: auto;
  height: 44px;
  /* border: 1px sol id #FF3535;  */
  border-radius: 5px;
  opacity: 1;
  }
  .snackbar11{
    width: 500px;
  height: 44px;
  border: 1px solid #FF3535;
  border-radius: 5px;
  opacity: 1;
  }
  .snackbar12{
    width: 563px;
  height: 44px;
  margin-left: 10px;
  border: 1px solid aqua;
  border-radius: 5px;
  opacity: 1;
  }
  
  .snackbar2{
    position: absolute;
    top: 1515px;
  left: 320px;
  width: auto;
  height: 44px;
/* border: 1px solid #FF3535;   */
  border-radius: 5px;
  opacity: 1;
  }
  .snackbar21{
    width: 500px;
    left: 30px;
  height: 44px;
  border: 1px solid #FF3535;
  border-radius: 5px;
  opacity: 1;
  }
  .snackbar22{
    width: 563px;
  height: 44px;
  margin-left: 10px;
  border: 1px solid aqua;
  border-radius: 5px;
  opacity: 1;
  }
  .call{
    position: absolute;
    top:90px;
  left: 290px;
  width: 104px;
  height: 24px;
  text-align: left;
  font: normal normal medium 18px/24px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  }
  .button11{
     border-radius: 50%; 
    position: absolute;
    top: 1520px;
    left: 32px;
    width: 124px;
  height: 45px;
  background: #C8242F 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 23px;
  opacity: 1;
  
  }
  .button12{
     border-radius: 50%; 
    position: absolute;
    top: 1520px;
    left: 170px;
    width: 124px;
  height: 45px;
  color: red;
  border: 1px solid red;
  background: #fdfdfd 0% 0% no-repeat padding-box; 
  border-radius: 23px;
  opacity: 1;
  
  }

  .tab1{
    top: 1720px;
    left: 330px;
    position: absolute;
    width: 37px;
  height: 20px;
  
  text-align: left;
  font: normal normal medium 15px/20px Roboto;
  letter-spacing: 0px;
   color:  #ADADAD; 
  opacity: 1;
  
  }
  .tab1 p:hover{
    background-color:#C8242F;
  } 

  .horizontalline{
    width: 74%;
    position: absolute;
    top: 1745px;
     color: #000000;
     left: 320px; 
  }
  .lorem{
    position: absolute;
    top: 1760px;
    left: 320px;
    width: 1119px;
    height: 68px;
    text-align: left;
font: normal normal normal 15px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
  }
  